{% extends 'base.html' %}

{% block content %}
{% csrf_token %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/userform.css' %}">

    <div class="userform-container">
        <h2 class="userform-title">Add Two Numbers (GET Method)</h2>

        <form method="GET" action="{% url 'submitform' %}">
            <div class="userform-group">
                <label for="num1">First Value:</label>
                <input type="text" name="num1" class="form-control" placeholder="Enter first number" required>
            </div>

            <div class="userform-group">
                <label for="num2">Second Value:</label>
                <input type="text" name="num2" class="form-control" placeholder="Enter second number" required>
            </div>

            <div class="userform-group">
                <button type="submit" class="userform-btn">Add these numbers</button>
            </div>

            <div class="userform-group">
                <label for="output">Result:</label>
                <input type="text" name="output" class="form-control" value="{{ output }}" readonly title="Result" placeholder="Result will appear here">
            </div>
        </form>
    </div>
{% endblock content %}
